body {
    background-color: #f3f4f6;
    padding: 1.5rem;
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.title {
    font-size: 1.125rem;
    font-weight: 600;
}

.underline {
    border-bottom: 2px solid #10b981;
    width: 5rem;
    margin-left: 0.5rem;
}

.container {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 0.6rem;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .filters {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

@media (min-width: 768px) {
    .filter-group {
        flex-direction: row;
        flex-grow: 1;
    }
}

.select-wrapper {
    position: relative;
    width: 100%;
}

select {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    height: 2.5rem;
    border-radius: var(--form-inputs-radius-base, 0.5rem);
    border: 1px solid var(--color-azure-40, #06C);
    background: var(--form-field-fill, #FFF);
}

.select-icon {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #6b7280;
    pointer-events: none;
}

.search-wrapper {
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .search-wrapper {
        width: 50%;
    }
}

input[type="text"] {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
    height: 2.5rem;
    border-radius: var(--form-inputs-radius-base, 0.5rem);
    border: 1px solid var(--form-field-stroke-hover-selected, #0061A0);
    background: var(--form-field-fill, #FFF);
}

.search-icon {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #6b7280;
}

.cards {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
    padding: 1rem 2rem;
    position: relative;
    max-width: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    fill: #FFF;
    stroke-width: 0.5px;
    stroke: var(--brand-neutrals-gray-medium, #A7A8AA);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
    font-family: "Noto Sans";
}

.card h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--Brand-Neutrals-Gray-Darkest, var(--Brand-Neutrals-Gray-Darkest, #333));
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem;
}

.card-underline {
    background: var(--Brand-Gradients-B-G-Horizontal, linear-gradient(87deg, #0090DA 20.83%, #A3CD4D 75.53%));
    height: 0.15rem;
}

.card-subtitle {
    font-weight: 500;
    margin-top: 0.75rem;
    color: #007ABC;
    font-family: "Noto Sans";
    font-size: 0.8125rem;
    font-style: normal;
    line-height: 2.25rem;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    color: #787486;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.info-icon {
    width: 1rem;
    height: 1rem;
}

.card-description {
    margin-top: 0.5rem;
    color: var(--Brand-Neutrals-Gray-Darkest, var(--Brand-Neutrals-Gray-Darkest, #333));
    font-family: "Noto Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
}

.card-button {
    margin-left: auto;
    color: #018EDC;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--button-button-primary-fill, #007ABC);
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    background-color: transparent;
    cursor: pointer;
    gap: 0.2rem;
    border-radius: 0.18694rem;
}

.button-icon {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.25rem;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background: var(--brand-primary-ml-blue1-base, #0090DA);
}

.overview-header {
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 3.5px solid #528320;
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #4b5563;
}

.overview-text {
    font-weight: 600;
    color: #1f2937;
    margin: 0;
    color: var(--Brand-Neutrals-Gray-Darkest, var(--brand-neutrals-gray-darkest, #333));
    text-align: center;
    font-family: "Noto Sans";
    font-size: var(--ui-elements-base, 1rem);
    font-style: normal;
    line-height: var(--ui-elements-text-link-lh-base, 1.5rem);
    text-transform: capitalize;
}